#container {
    position: absolute;
    width: 1200px;
    height: 800px;
    border: 2px solid #000;
    overflow: hidden;
}

#world {
    position: absolute;
    width: inherit;
    height: inherit;
}

#square {
    position: absolute;
    height: 300px;
    width: 300px;
    background: red;
    transform: translate3d(600px, 400px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(45deg);
}