#container {
    position: absolute;
    width: 1200px;
    height: 800px;
    border: 2px solid #000;
    overflow: hidden;
    perspective: 600px;
}

#world {
    position: absolute;
    width: inherit;
    height: inherit;
    transform-style: preserve-3d;
}

.square {
    position: absolute;
} 

#pawn {
    display: none;
    position: absolute;
    top: 400px;
    left: 600px;
    width: 100px;
    height: 100px;
    background: green;
    transform: translate(-50%, -50%);
}